<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi, TNBD]"/>
  <arg name="multi_robot_name" default=""/>

  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!-- <group if = "$(eval TURTLEBOT3_MODEL == 'TNBD')">
    <include file="$(find  tnbd-test)/urdf/tnbd-test.urdf">
    <param name="robot_description" textfile="$(find tnbd-test)/urdf/tnbd-test.urdf" />
    <node name="joint_state_publisher_gui"    pkg="joint_state_publisher_gui"    type="joint_state_publisher_gui" />
    <node name="robot_state_publisher"    pkg="robot_state_publisher"    type="robot_state_publisher" />
    <node name="rviz"    pkg="rviz"    type="rviz"    args="-d $(find tnbd-test)/urdf.rviz" />
  </group> -->
  
</launch>
